<<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>form</title>
    <link rel="stylesheet" type="text/css" media="screen" href="static/main.css" />
</head>
<body>
    <html>
   <body>
       <p><strong>veforritun</strong></p>
        <form action = "result" method = "POST">
            <p>nafn: <br> <input type = "text" name = "Name" required/></p> <br>
            <p>netfang: <br> <input type = "email" name = "netfang" placeholder="name@domain.com" required="@" /></p> <br>
            <p>heimilisfang: <br> <input type = "text" name = "heimilisfang" required/></p><br>
            <p>simi: <br> <input type="text" name = "simi" placeholder="123-4567" required pattern="^\d{7}$" /></p><br>
            
            <label for="fyrir hádeigi">Fyrir hádeigi</label><br>
                <input type="checkbox" name="python-1" >| python-1
                <input type="checkbox" name="javascript-2">| javascript-1
                <input type="checkbox" name="gagnasöfn-1">| gagnasöfn-1
            <br>
            <label for="hádeigisverður">Hádeigisverður</label><br>
                <input type="radio" name="Hádeigisverður" value="já takk" > já takk
                <input type="radio" name="Hádeigisverður" value="nei takk"> nei takk
            <br>
            <label for="eftir hádeigi">Eftir hádeigi</label><br>
                <input type="checkbox" name="python-2">| python-2
                <input type="checkbox" name="javacript-2">`| javascript-2
                <input type="checkbox" name="gagnasöfn-2">| gagnasöfn-2
                <br>
            <p><input type = "submit" value = "submit" /></p>
        </form>
   </body>
</html>
</body>
</html>